<div style="width:20%">
        <div class="languages-box">
            <span class="languages-box-title">LANGUAGES</span>
            <span class="languages-box-label">Spanish</span>
            <app-rating class="languages-box-item" [Rating]="5"></app-rating>
            <span class="languages-box-label">English</span>
            <app-rating class="languages-box-item" [Rating]="4"></app-rating>
            <span class="languages-box-label">Portuguese</span>
            <app-rating class="languages-box-item" [Rating]="2"></app-rating>
        </div>
    </div>
<div class="main-content">
    <div class="timeline">
        <div class="separator">
            <span class="material-icons my-icon">work</span>     
        </div>
        <div class="entry">
            <div class="title">
                <h3>2020 </h3>
                <p>Freelance Frontend Developer, Coya Sistemas (Clinical analysis labs)</p>
            </div>
            <div class="body">
                <p>Working on my spare time with this small company which developed an online platform to handle the information and procedures of clinical analysis labs.</p>
                <ul>
                    <li>Technology stack: started on Angular 6, now updated to v10.</li>
                    <li>Source and Issue control: Bitbucket/Sourcetree</li>
                </ul>
            </div>
        </div>
        <div class="entry">
            <div class="title">
                <h3>2020 </h3>
                <p>Frontend Developer, Pronto! (Finance)</p>
            </div>
            <div class="body">
                <p>Part of the digital channels team, as a fronted developer I worked on:</p>
                <ul>
                    <li>Design of new account management app, using Angular 7 and Bootstrap.</li>
                    <li>Fix of security vulnerabilites found on pentests, static and dynamic scans and following OWASP guidelines.</li>
                    <li>Improvements on MVC app.</li>
                    <li>Agile methodology: SCRUM like framework with grooming sessions (with poker estimation), daily updates and periodic demos of new featues.</li>
                    <li>Source control: TFS.</li>
                    <li>Issue control: Jira. </li>
                </ul>
            </div>
        </div>
        <div class="entry">
            <div class="title">
                <h3>2019 - 2020 </h3>
                <p>Fullstack Developer, XPO Logistics</p>
            </div>
            <div class="body">
                <p>Part of a small team involved in building new modules, improving current features and bug fixing in different business projects as well in the core libraries of the company.</p>
                <ul>
                    <li>Agile methodology: SCRUM like framework with grooming sessions (with poker estimation), daily updates and periodic demos of new featues.</li>
                    <li>Development methodology: Mandatory code reviews on each pull request, fix bugs before new feature and unit tests.</li>
                    <li>Technology stack: Angular 8 / .NET Core 3 / T-SQL.</li>
                    <li>Source control: Github.</li>
                    <li>Issue control: Jira. </li>
                </ul>
            </div>
        </div>
        <div class="entry">
            <div class="title">
                <h3>2017 to 2019</h3>
                <p>System analyst, Grupo Sancor Seguros (Insurance)</p>
            </div>
            <div class="body">
                <p>Had multiple roles across the time in this company such as:</p>
                <ul>
                    <li>.NET Developer: worked on ASP.NET MVC, on an inhouse ECM application.</li>
                    <li>Jira Manager: which involved both the admin part and being the agile coach of all the IT teams (development, support, ops, testing).</li>
                    <li>Technical leader: of a remote team of three backend .net developers in a project about handling and normalizing client's data across the company.</li>
                </ul>
            </div>
        </div>
        <div class="entry">
            <div class="title">
                <h3>2015 to 2017</h3>
                <p>Developer, Musimundo (Retail, E-commerce)</p>
            </div>
            <div class="body">
                <p>Developed different enterprise inhouse systems for this retail company based on:</p>
                <ul>
                    <li>.NET stack (Winforms, WCF, Asp.net, WPF MVVM, MVC5)</li>
                    <li>4GL/INFORMIX.</li>
                </ul>
            </div>
        </div>
        <div class="separator">
            <span class="material-icons my-icon">school</span>      
        </div>
        <div class="entry">
            <div class="title">
                <h3>2020</h3>
                <p>Udemy</p>
            </div>
            <div class="body">
                <p>Python for Finantial Analysis and Algorithmic Trading</p>
            </div>
        </div>
        <div class="entry">
            <div class="title">
                <h3>2019</h3>
                <p>Udemy</p>
            </div>
            <div class="body">
                <p>React JS Course</p>
            </div>
        </div>
        <div class="entry">
            <div class="title">
                <h3>2017</h3>
                <p>Atlassian University</p>
             </div>
            <div class="body">
                <p>JIRA Admin Course</p>
            </div>
        </div>
        <div class="entry">
            <div class="title">
                <h3>2009 to 2017</h3>
                <p>Universidad Tecnológica Nacional</p>
            </div>
            <div class="body">
                <p>Information Systems Engineering</p>
            </div>
        </div>
        <div class="entry">
            <div class="title">
                <h3>2008</h3>
                <p>Cambridge University</p>
            </div>
            <div class="body">
                <p>First Certificate in English</p>
            </div>
        </div>
        <div class="entry">
            <div class="title">
                <h3>2008</h3>
                <p>Instituto La Salle</p>
            </div>
            <div class="body">
                <p>Bachelor oriented to natural sciences</p>
            </div>
        </div>
    </div>
</div>
<div style="width:20%">
    <div class="about-me">
        <span class="about-me-title">ABOUT ME</span>
        Argentinian Software Engineer. Devoted to solve problems and find new solutions. Always looking for new challenges to apply my experience and knowledge while growing as a professional. Nowadays, I'm focusing my career in finances, investments and stock markets, using technology to provide an edge in these fields.
        I've built tools to help me trade the stock markets, such as alarms, arbitrage bots and dashboards as well as scripts to analyize historical data for analysis and portfolio optimization.
    </div> 
</div>
