<span class="app-body-title"> ABOUT ME</span> 
<div class="app-body-section">
    <div class="app-body-section-left">
    </div>
    <div class="app-body-section-right">
        <span class="app-body-section-right-content">Argentinian Software Developer. Devoted to solve problems and find new solutions. Always looking for new challenges to allow me apply my experience and knowledge while growing as a professional. In my spare time I'm learning all I can about finances, investments and stock markets, focusing on how technology can provide an edge in these activities. 
            </span>
    </div>
</div>
<span class="app-body-title"> EDUCATION</span> 
<div class="app-body-section">
    <div class="app-body-section-left">
        <span>2008 - Instituto La Salle</span>

    </div>
    <div class="app-body-section-right">
        <span class="app-body-section-right-content">Bachelor oriented to natural sciences</span>
    </div>
</div>
<div class="app-body-section">
        <div class="app-body-section-left">
            <span>2009 to 2017 - Universidad Tecnológica Nacional</span>
    
        </div>
        <div class="app-body-section-right">
            <span class="app-body-section-right-content">Information Systems Engineering</span>
        </div>
    </div>
<span class="app-body-title"> EXPERIENCE</span> 
<div class="app-body-section">
    <div class="app-body-section-left">
        <span>2019 - XPO Logistics</span>
    </div>
    <div class="app-body-section-right">
        <span class="app-body-section-right-content">Full Stack Developer - Was was involved in building new modules, improving current features, and bug fixing in different business projects as well in the core libraries of the company. The technolgy stack I used was Angular 8 / .NET Core 3 / T-SQL. Worked under SCRUM like framework with grooming sessions (with poker estimation), daily updates and periodic demos of new featues, using Jira as project management tool and GitHub as source control provider with mandatory code reviews.  </span>
    </div>
</div>
<div class="app-body-section">
    <div class="app-body-section-left">
        <span>2017 to 2019 - Grupo Sancor Seguros</span>
    </div>
    <div class="app-body-section-right">
        <span class="app-body-section-right-content">Multiple roles - Started in this market leader ensurance company as a .NET Developer, working on an ASP.NET MVC app , then I was asigned as the Jira instance manager, which involved both the admin part and being the agile coach of all the development teams. Finally worked as a technical leader of a team of three backend .net developers in a project about handling all the client data across the company. </span>
    </div>
</div>
<div class="app-body-section">
    <div class="app-body-section-left">
        <span>2015 to 2017 - Musimundo</span>
    </div>
    <div class="app-body-section-right">
        <span class="app-body-section-right-content">Full Stack Developer - developed different enterprise inhouse systems for this retail company
                based on .NET stack (Winforms, WCF, Asp.net, WPF MVVM, MVC5) and
                4GL/INFORMIX.
        </span>
    </div>
</div>
