<div class="app-header-contact"> 
    <a href="https://github.com/Guichardsantiago">
        <img class="app-header-contact-icon" src="../../assets/github-logo.png"/>
    </a>
    <a href="https://linkedin.com/in/santiago-guichard">
        <img class="app-header-contact-icon" src="../../assets/linkedin-logo.png"/>
    </a>
    <a href="https://twitter.com/Santiagoguicha1">
        <img class="app-header-contact-icon" src="../../assets/twitter-logo.png"/>
    </a>
    <a href="mailto:guichardsantiago@gmail.com">
        <img class="app-header-contact-icon" src="../../assets/gmail-logo.png"/>
    </a>    
</div>
<div class="app-header-title">
    <span>SANTIAGO GUICHARD</span>
    <span class="app-header-title--white">SOFTWARE ENGINEER</span>
</div>
<div class="app-header-profile">
    <img class="app-header-title-profile" src="../../assets/profile.jpeg"/>
</div>

